# Python
__pycache__/
*.py[cod]
*.so
.env
*.egg-info/
dist/
build/
.venv/
venv/
db.sqlite3

# Node
node_modules/
frontend/build/
frontend/.env
.env.local

# Misc
.DS_Store
*.log
*.sqlite3
staticfiles/
spotter_implementation_guide.docx